/.vs/LINQ_AtoZ/v17/.suo
/bin/Debug/LINQ_AtoZ.exe
/bin/Debug
/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/obj/Debug/LINQ_AtoZ.csproj.AssemblyReference.cache
/obj/Debug/LINQ_AtoZ.csproj.CoreCompileInputs.cache
/obj/Debug/LINQ_AtoZ.csproj.FileListAbsolute.txt
/obj/Debug/LINQ_AtoZ.csproj.SuggestedBindingRedirects.cache
/obj/Debug/LINQ_AtoZ.exe
/obj/Debug/LINQ_AtoZ.pdb
/Properties/AssemblyInfo.cs
